
.mdc-toolbar .material-icons {
  vertical-align: middle;
}

.mdc-toolbar--fixed.mdc-elevation--z0 {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.mdc-toolbar--fixed.mdc-permanent-drawer-adjust {
  padding-left: 256px;
}

.mdc-toolbar__title {
  padding-left: 15px;
}

.mdc-toolbar a {
  text-decoration: none;
}

.toolbar-link {
  display: none !important;
}

@media (min-width: 1024px) {
  .toolbar-link {
    display: inline-block !important;
  }
}

/* Compact toolbar on small screen */
@media (max-width: 599px) {
  .mdc-toolbar {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}