body {
  margin: 0;
  padding-bottom: 100px;
}

.material-icons {
  text-decoration: none;
  cursor: pointer;
}

.mdc-toolbar__title {
  padding-left: 15px; 
}

.mdc-toolbar__section--align-start .material-icons {
  padding-right: 15px;
}

.mdc-toolbar__section--align-end .material-icons {
  padding-left: 15px;
}

.text-right {
  text-align: right;
}