body {
  margin: 0;
}

.mdc-permanent-drawer {
  position: fixed;
  top: 0;
  z-index: 2;
  visibility: visible;
  transform: translateX(0) translateZ(2);
  -webkit-transition: -webkit-transform 0.13s 0ms cubic-bezier(0, 0, 0.2, 1);
  transition: -webkit-transform 0.13s 0ms cubic-bezier(0, 0, 0.2, 1);
  transition: transform 0.13s 0ms cubic-bezier(0, 0, 0.2, 1);
  transition: transform 0.13s 0ms cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.13s 0ms cubic-bezier(0, 0, 0.2, 1);
}

.mdc-permanent-drawer--hidden {
  transform: translateX(-300px) translateZ(0);
  visibility: hidden;
}

.mdc-permanent-drawer-adjust {
  padding-left: 240px;
}

.drawer-brand {
  max-width: 185px;
}

.material-icons {
  text-decoration: none;
  cursor: pointer;
}

.mdc-toolbar--fixed.mdc-elevation--z0 {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.mdc-toolbar--fixed.mdc-permanent-drawer-adjust {
  padding-left: 266px;
}

.mdc-toolbar__title {
  padding-left: 15px; 
}

.mdc-toolbar__section--align-start .material-icons {
  padding-right: 15px;
}

.mdc-toolbar__section--align-end .material-icons {
  padding-left: 15px;
}

@media (min-width: 1024px) {
  .mdc-toolbar {
    padding-left: 26px;
    padding-right: 26px;
  }
}

.mdc-list-item {
  letter-spacing: normal !important;
}

.mdc-form-field {
  letter-spacing: normal;
}

.mdc-textfield {
  letter-spacing: normal;
}

.text-right {
  text-align: right;
}

.cell-placeholder {
  box-sizing: border-box;
  height: 1000px;
  padding: 8px 16px;
}